
 

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><a href="/">ok8818.cn</a></h1>
    <p>欢迎阁下的光临!</p>
    <p><a href="logout">登出</a></p>
  </body>
</html>