

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><a href="/">ok8818.cn</a></h1>
    <p>欢迎登陆!</p>
    <form action="homepage" method="post">
        <p>
        	<span>用户姓名:</span>
        	<br>
        	<input id="userid" name="userid" type="text">
        </p>
        <p>
        	<span>用户密码:</span>
        	<br>
        	<input id="password" name="password" type="password">
        </p>
        <p><input type="submit" value="登陆"></p>
    </form>
  </body>
</html>