<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><a href="/">ok8818.cn</a></h1>
    <p>登陆失败</p>
    <p><a href="login">重新登陆</a></p>
  </body>
</html>