

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><a href="/">ok8818.cn</a></h1>
    <p>感谢阁下的光临！欢迎再次登陆！</p>
    <p>正在登出...</p>
    <script type="text/javascript">
    	setTimeout(function(){
    		window.location.href = "/";
    	}, 1500);
    </script>
  </body>
</html>