

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><a href="/">ok8818.cn</a></h1>
    <p>注册成功!</p>
    <p>正在跳转...</p>
    <script type="text/javascript">
    	setTimeout(function(){
    		window.location.href = "homepage";
    	}, 1500);
    </script>
  </body>
</html>